@model List<Article>
<div class="recent-posts-widget widget-item">

    @foreach (var item in Model)
    {
        <h3 class="widget-title">Recent Posts</h3>

    <div class="post-item">
        <img src="@item.CoverImageUrl" alt="" class="flex-shrink-0">
        <div>
            <h4><a href="blog-details.html">@item.Title</a></h4>
            <time datetime="2020-01-01">@item.CreatedDate.ToString("ddd-yyy-MMM")</time>
        </div>
    </div>
    }

    


</div>